# 1. Write a Python Program to Find the Factorial of a Number?

In [1]:
def fact(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    print(f"{num}! = {fact}")

In [2]:
fact(6)

6! = 720

# 2. Write a Python Program to Display the multiplication Table?

In [3]:
def multitable(num):
    for i in range(1,11):
        print(f"{i} x {num} =" ,i*num)

In [4]:
multitable(11)

1 x 11 = 11
2 x 11 = 22
3 x 11 = 33
4 x 11 = 44
5 x 11 = 55
6 x 11 = 66
7 x 11 = 77
8 x 11 = 88
9 x 11 = 99
10 x 11 = 110

# 3. Write a Python Program to Print the Fibonacci sequence?

In [5]:
def fibo(num):
    a=0
    b=1
    for i in range (num):
        yield a 
        c=b+a
        a=b
        b=c

In [6]:
for i in fibo(5):
    print(i)

0
1
1
2
3

# 4. Write a Python Program to Check Armstrong Number?

In [7]:
def arm(num):
    s = 0
    l=len(str(num))
    no=num
    while no>0:
        n=no%10
        s=s+(n**l)
        no//=10
    if num==s:
        print("Armstrong")
    else:
        print("Not an Armstrong")

In [8]:
arm(153)

Armstrong

In [9]:
arm(122)

Not an Armstrong

# 5. Write a Python Program to Find Armstrong Number in an Interval?

In [10]:
def arm_numbers(l,u):
    """Enter lower and upper range and the program will find Armstrong numbers in that interval"""
    for i in range(l,u+1):
        power=len(str(i))
        s = 0
        num=i
        while num>0:
            n=num%10
            s=s+n**power
            num//=10
        if i==s:
            print(i)

In [11]:
arm_numbers(100,2000)

153
370
371
407
1634

# 6. Write a Python Program to Find the Sum of Natural Numbers?

In [12]:
def sum_of_naturalno(num):
    """Enter number upto which you want to find sum of natural numbers"""
    if num==0:
        print("Enter positive integer")
    else:
        s=0
        for i in range(1,num+1):
            s=s+i
        return s

In [13]:
sum_of_naturalno(20)

210